/* BUFF AND BLUE */

.homeicon {
    color: #ccb793 !important;
    font-family: 'Titillium Web', sans-serif;
    font-size: 10%; 
    padding: 5px !important;
    text-shadow: none !important;
    background: none !important;
}

svg path, svg circle, svg rect{
    fill: currentColor; 
}

.homeicon:hover,.homeicon:active{
    background: #c3b49a !important;
    border-radius: 15px;
    color: white !important;
    
}
.homeicon.weather-anchor:hover, .homeicon.weather-anchor:active {
    background-color: transparent !important;
}

.title_bar {
    padding: 0px;
    background: rgb(0,  47,  134);
    border-top-width: 18px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: currentColor;
    /*border-color: rgb(214,  186,  139);*/
    color: rgb(0,  47,  134);
}

.ham-logo{
  margin-top:-880px; 
  margin-right: 0px !important;
  height: 50%;
  background: rgb(0,  47,  134) !important; 
  color: #001F86 !important;
}

.home-settings{
    position: fixed;
    bottom: 0;
    right: 0;
    background: none;
    padding: 20px;
    text-shadow: none;
}

.icon-settings{
    color: rgb(214,  186,  139) !important;
    padding: 3px;
}

.icon-settings:hover{
    background: rgb(214,  186,  139) !important;
    border-radius: 5px;
    color: white !important;   
}

.home-all-icons{
    /*background: rgb(0,  47,  134) !important;
    height: 1000px;*/
    background:none !important;
    height:auto;
}

#home-gradient{
    height: 45px;
    background: -webkit-linear-gradient(#001d52, rgb(0,47,134)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#001d52, rgb(0,47,134)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#001d52, rgb(0,47,134)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#001d52, rgb(0,47,134)); /* Standard syntax (must be last) */
}


#cap{
    color: rgb(0,  47,  134) ;
}