body {

  /* Disable Safari scrollbars, because jQuery Mobile annoyingly insists on setting the
     min-height of the page to 320px. It does this (unsuccessfully, in 1.0.1, but successfully
     in 1.1) in order to keep the Mobile Safari location bar from appearing during page
     transitions. But this causes a problem in desktop Safari if the height is <320px.
     If you resize to <320 in a desktop browser, you will see a scrollbar if you don't
     use this style.
     I haven't put this in jquery.mobile.iscrollview.css, because it has to be applied
     to <body>, and so it will affect the entire site/app. It is an appropriate
     setting for any site/app meant to use a page size fixed at the browser window size.
     If your site/app mixes fixed-height pages with scrolling pages, you will need to
     work out another solution. */
  overflow:hidden;

  /* optimizeSpeed is the default. Using optimizeLegibility here will typically DOUBLE
     rendering time! So, think twice about using optimizeLegibility */
  text-rendering: optimizeSpeed;

  /* subpixel-antialiased is the default, but you might like to use antialiased for a thinner look
     in Safari. There is no speed penalty for this, nor a speed advantage for "none", which looks
     absolutely terrible... */
  -webkit-font-smoothing: subpixel-antialiased;

  /* Shut off long touch on links for info. If this is set to "default", then a long touch
     on a link will display the URL in a popup. This is pretty darn annoying. */
  -webkit-touch-callout: none;

  /* Shut off content selection, because it's really annoying when dragging
     You might like to do this only for scroller content, though, or enable it for certain
     text you want the user to be able to cut-and-paste */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

/* Style header bar and footer bar with a 1px red border at top and bottom. This facilitates
   a quick visual indication of correct sizing of the page. You should not see any white
   space above the header or below the footer. (Note that Retina devices will show a 2px border,
   rather than 1px.) Use your OS's accessibility features to magnify and inspect. On mobile
   devices, there is usually a way to capture the screen contents to an image file that you can
   later examine. (iPhone: Home+On/Off)
*/

.ui-header.ui-bar-a,
.ui-footer.ui-bar-a {
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
    margin-top:-20px;
}

/* make room for version buttons in header */
.ui-header .ui-title {
    /*text-align: right;*/
    text-shadow: none;
    /*margin-left: 10px;*/
    font-size:22px;
    margin: 0 15%;
    /*margin: 0 10% 0 0;*/
}

/* Style iScroll wrapper with a 1px green border at top and bottom. You should see no gap
   or different color between the top of the wrapper and the bottom of the header, or between
   the bottom of the wrapper and the top of the footer.
*/
.iscroll-wrapper {
  border-top: 0px solid #00ff00;
  border-bottom: 0px solid #00ff00;
    width:100%;
}

.red {color:red; font-size: 1.2em;}
.smgrey {color: gray; font-size: .8em;}
footer {height:65px;width: 400px;}
.ui-navbar a {
       height: 47px; 
}
a:visited {color:#000;}
a:link {color:#000;}
.ui-btn-a:visited {background-color: #f6f6f6;}
.ui-btn-a:link {background-color: #f6f6f6;}
.ui-btn-active {background-color: #f6f6f6;}
.ui-btn-a:focus {background-color: #f6f6f6;}
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active {background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;}
.ui-navbar .ui-btn-inner {
  font-size: 14px;
}
.hamicon {margin-left: 10px; 
    width:30px; 
    padding-top: 10px; 
    border-radius: 5px; 
    background: white !important; 
    color: rgb(0,  47,  134);
}

.imgResponsive {max-width: 100%; height: auto; width: 100%;}

.ui-page .pageheader {
    background-color: #002f86;
    border-top-width: 15px;
    /*border-bottom-width: 10px;*//*Removed for news page header*/
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: #002f86;
    color: #fff;
    /*height: 50px;*//*Removed for news page header*/
    padding-top: 0px;
    margin-bottom: 0px;
}
.footer {
    background: #ccc;
     height: 35px;
    bottom: 0;
    width: 100%;
    margin-top: 5px;
}

.rssFeed a {
	color: #444;
	text-decoration: none;
}
.rssFeed a:hover {
	color: #000;
	text-decoration: underline;
}

.rssHeader { display: none; padding: 0.2em 0; }
.rssBody ul { list-style: none; width: 100%; }
.rssBody ul, .rssRow, .rssRow h4, .rssRow p {
	margin: 0;
	padding: 0;
}

.rssRow { padding: 0.8em; }
.rssRow h4 { font-size: 1.1em; }
.rssRow div {
	font-size: 90%;
	color: #666;
	margin: 0.2em 0 0.4em 0;
}

.odd { background-color: #fff; }
.even { background-color: #dedede; }

.rssRow .rssMedia {
	padding: 0.5em;
	font-size: 1em;
}
.rssRow h4 { margin: 0; font-size: 1.2em; letter-spacing: -1px; }
.rssRow h4 a { text-decoration: none; }
.rssRow h4 a:hover { color: darkblue; }
.rssRow div { font-size: 0.9em; color: #999; }
.iscroll-scroller {

     width:100%;
  }
.iscroll-content {padding:0px;}
.iconfloat {
    float:left;  
    margin-top: 17%; 
    color: rgb(0,  47,  134); 
    text-shadow: none;
    }
.hozNavbar {overflow: hidden; xwidth: 5000px;}
/* this is a placeholder all dynamic pages will go in here*/
#lastStatic {display: none;}
#mapContent {
  padding: 0;
  margin-top: 2.8em;
  height: 100%;
  width: 100%;
}
#map_canvas { width: 100%; }
.map-point { position:absolute; z-index: 1000; width:20px; height: 30px; cursor:pointer; background: url('images/map-marker-blue.png') top left no-repeat;}
.ui-header .ui-title:last-child {
    margin: 0 0;
}
footer {height: 60px;}
.container div {
        float: left;
    }
.container div a{
        width: 60px;
        height: 60px;
    margin: 0;
    padding-top:20px;
    }
@media only screen and (max-height: 280px){
  .ui-header {
    height: 30px;
  }

  .ui-header .ui-title {
    font-size: 14px;
  }

  /* Make the buttons in the header just disappear - they're too big for a tiny header */
  .ui-header:not(.map) .ui-btn {
    display: none;
  }

  .ui-navbar:not(.map) a {
    height: 37px;    /* + 2px border = 39px */
  }

  .ui-navbar:not(.map) .ui-btn-inner {
    font-size: 13px;
  }
    
}

@media DISABLED {
  .iscroll-scroller,
  .iscroll-scroller * {
    -webkit-transform: translateZ(0);
  }
}

/* So, for the demo, I'm using this one, which doesn't target the scroller itself, and
   targets specific top-level elements inside the scroller. */
@media all {
  .iscroll-content li  {
    -webkit-transform: translateZ(0);
  }
}

.iscroll-content .ui-listview li.ui-btn-up-c
  {
  background-image: none;
  text-shadow: none;
  }

.iscroll-content .ui-listview li.ui-btn-hover-c
  {
  background-image: none;
  text-shadow: none;
  }

.iscroll-content .ui-listview li.ui-btn-down-c
  {
  background-image: none;
  text-shadow: none;
     width:100%;
  }

.iscroll-content .ui-listview *.ui-btn-up-c a.ui-link-inherit
  {
  }

.iscroll-content. .ui-listview *.ui-btn-hover-c a.ui-link-inherit
  {
  }

.iscroll-content .ui-listview *.ui-btn-down-c a.ui-link-inherit
  {
  }

/* Remove background image from non-button scroller content */
.iscroll-content .ui-body-c
  {
  background-image: none;
  }
.ui-block-2x-height {
  height: 6em;
}
.ui-block-2x-height .ui-btn {
  height: 4em;
  vertical-align: middle;
  overflow-y: visible;
  word-wrap: break-word;
  white-space: pre;
  overflow-x: visible;
  /*font-size: 90%;*/
    font-size: 16px;
}
.ui-block-2x-height .ui-btn i {
  margin-top: .5em;
}
#home[data-role="page"] {
  /*margin: 0.4em;*/
  padding-top: 0;
}

.home-divider {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.ui-btn {
  border: none;
}

.back-btn,.dining-back-btn,.events-filter-btn {
  border: none;
  height: 30x;
  background: none !important;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-top: 7px;
  color: rgb(0,  47,  134);
}

svg path, svg circle, svg rect{
    fill: currentcolor; 
}

.back-btn:hover {
    fill: rgb(214,  186,  139) !important;
}

.house {
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}

.din {
    width: 30px;   
}

.diningmenuholder li {
  cursor: pointer;
}
.menu-show {
  display: none;
}
.menu-hide {
  display: block;
}
.ui-li-has-icon > img.ui-li-icon:not(:first-child) {
  position: relative;
  left: -.625em;
  top: .17em;
  max-height: 1em;
  max-width: 1em;
}
.ui-li-has-count > span.ui-li-count:not(:last-child) {
}

.meal-times {
  color: #CCC;
  text-shadow: 1px 1px 3px #444;
}
.items {
  display: none;
}
.alert.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; 
}
.alert {
  display: none;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert.tight {
  margin-bottom: 0;
  margin: 0;
}
.alert.always {
  display: block;
}
.open-indicator {
  width: 16px;
  display: inline-block;
  background-color: rgb(120,120,120);
  height: 16px;
  border-radius: 8px;
  border: 1px solid rgb(100,100,100);
  vertical-align: super;
  margin: 0;
  padding: 0;
}
.open-indicator.open {
  background-color: rgb(75,170,10);
  border: 1px solid rgb(40,120,18);
}
.open-indicator.closed {
  background-color: rgb(180,20,28);
  border: 1px solid rgb(160,18,32);
}
.hours-text {
  color: #777;
  display: block;
  font-weight: normal;
}
.dining-halls {
  height: 260px
}
.dining-hall-block {
  display: inline-block;
  margin-left: 1.1em;
}
.item-description {
  display: block;
  white-space: normal;
  word-wrap: normal;
  color: #777;
  font-size: 11pt;
  font-weight: normal;
  width: 100%;
}
.bug,.feedback {
  padding: 0.4em
}
#diningmenus > .footer-nav-days {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hamTitle {
    color: white !important;
    padding-top: 5px !important;
    height: 50px;

}

.batteryBar {
    border-top-width: 20px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: rgb(0,  47,  134);
    /*border-color: rgb(214,  186,  139);*/
}

svg path, svg circle, svg rect{
    fill: currentColor; 
}
#home {

    text-align:center;
}
.home-all-icons {
    display:inline-block;
    text-align:left
}
a.homeicon.ui-btn {
    margin:4px;
    width:78px; 
    height:78px;
}
.icon-float {
    /*float:left;*/
    float:none;
    display:inline-block;
    vertical-align: middle;
    margin:0;
    padding:0
        
    /*width:90px*/
}

.svg-width {
    width: 38px !important;
}

.ath-width{
    padding-top: 3px;
    width: 31px !important;   
}

.news-width{
    padding-top: 10px;
    width: 33px !important;
}

.map-width{
    padding-top: 8px;
    width: 37px !important;
}
.reunion-width{
    padding-top: 2px;
    width: 33px !important;
}
.web-width{
    width: 37px !important;   
}

.scroll-width{
    padding-top: 4px;
    width: 25px !important;
}

#bkg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 47, 134) !important;
    z-index: -2;
}
#cupola-bkg {
    background-color: #001F86 !important;
    -webkit-mask: url(../icons/cupola.svg) no-repeat 0% 0%;
    mask: url(../icons/cupola.svg) no-repeat 50% 50%;
    mask-size: 100%;
    -webkit-mask-size: 100%;
    z-index: -1;
    opacity: .8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-attachment: fixed;
    background-position: bottom;
    -webkit-mask-position: bottom;
}
.news-navbarcont > .xnavbar > li > a {
  height: initial;
}

 
            /* #container div with absolute position and 100% width and height so it takes up whole window */
#container {
  padding:0;
  margin:0;
    position: absolute;
  top:0;
  bottom:0
    left:0;
  right:0;
    width: 100%;
    height: 100%;
}
ul.diningmenuholder > li.ui-li-static.ui-body-inherit.ui-last-child {
    font-size:16px;
}
#diningmenus .dining-back-btn,.events-filter-btn {
    color: white !important;
    box-shadow: none !important;
    display:none
}
/* Some weather things */
#weather > img {
    margin-bottom: 2px
}
.weather-text {
    margin:0;
    margin-top:2px;
    color: white;
    font-weight: bold
}

#alumEventsListview > li > a > .date {
    color: #555;
    font-weight: 500;
    font-style:italic;
}
#alumEventsListview > li > a > .desc {
    white-space:normal;
    font-weight: normal;
}

#radio #song-container {
    font-size: 20pt;
    font-family: sans-serif;
    margin-top:20px
}

.firstHeading {
  margin-top:2px;
  margin-bottom:2px;
}
.mapDescription {
  margin-top: 2px;
  margin-bottom: 0
}
a > .title {
    font-size:1.2em;
    margin-bottom:-3px;
    white-space: normal;
}
a > .date {
    font-weight: normal;
    font-style:italic;
    font-size:0.9em;
    color:#777;
}
a > .desc {
    font-weight: normal;
    white-space:normal;

}
#scrollcontent{
  background-color: #f7f7f7;
  font-size: 13px;
  line-height: 1.3em;
}

#mobile-menu .icon-bar + .icon-bar { margin-top: 3px; }

#mobile-menu .icon-bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 0 10px;
  background-color: #957b63;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
#mobile-menu .icon-bar:first-child { margin-top: 12px; }

#nav-filters { margin: 0; margin-left: 240px; list-style: none; position: relative; }
  #nav-filters li { float: left; display: inline; margin-right: 12px; }
    #nav-filters li a { margin-top: 32px; font: normal 13px/17px Helvetica, Arial, san-serif; color: #09090b; display: block; float: left; padding: 6px 7px 4px 7px; text-decoration: none; text-transform: uppercase; }
    #nav-filters li a:hover { color: #033994; }
    #nav-filters li a.menu { display: none; }

#active-trail { position: absolute; bottom: -4px; left: 0; height: 7px; width: 45px; background: #033994; }
.group:after { visibility: hidden; display: block; content: ''; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */


#tagline { width: 100%; height: 38px; background: transparent url('../images/hamilton-logo.png') top left no-repeat; }
  #tagline  div { display: none; margin: 1.3em 0; margin-left: 280px; padding-top: 8px; width: 500px; color: #c59854; font: normal 18px/20px Georgia, san-serif; }
  #tagline  div.tag { display: block; }

#scrollcontent { margin: 10px; margin-top: 16px; margin-left: 7%; margin-bottom: 40px; overflow-y: scroll; clear: both;}

.box {
  width: 242px;
  margin: 4px 15px 17px 4px;
  background-color: #fff;
  padding: 8px;
  border: #ddd 1px solid;
  border-top-color: #ddd;
  border-bottom-color: #aaa;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.15);
     -moz-box-shadow: 0 0 8px rgba(0,0,0,0.15);
          box-shadow: 0 0 8px rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;


}
.box.featured { width: 520px; }

.box .profile { margin-bottom: 6px; }
.box .profile img { float: left; width: 32px; height: 32px; cursor: hand; margin-right: 6px; }

.box .profile div { afloat: left; }
  .box .profile div span.name { display: block; apadding-left: 10px; font: 14px/16px Georgia, san-serif; }
    .box .profile div span.name a,
    .box .profile div span.name a:hover,
    .box .profile div span.name a:visited { color: #123b80; text-decoration: none; }

  .box .profile div span.handle { display: block; apadding-left: 10px; font: 12px/14px Georgia, san-serif; }
    .box .profile div span.handle a,
    .box .profile div span.handle a:hover,
    .box .profile div span.handle a:visited { color: #00b2de; text-decoration: none; }

.box .content { clear: both; color: #444444; font: 14px/22px Georgia, san-serif; padding-top: 8px; word-wrap:break-word;}
.box .content:first-line { font-size: 20px; }

.box.featured .content { color: #444444; font: 19px/29px Georgia, san-serif; padding-top: 8px; }
  .box.featured .content:first-line { font-size: 30px; }

.box .content p { margin: 0; }

  .box .content a,
  .box .content a:hover,
  .box .content a:visited { color: #00b2de; text-decoration: none; }

  .box .content a.url {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -moz-pre-wrap; /* Mozilla */
    word-wrap: break-word;      /* IE 5+ */
  }


.box .content .caption { color: #939595; font: 13px/15px Arial, san-serif; }

.box .content small { color: #999; font: 12px/12px Arial, Helvetica, san-serif; }

.box .content .date { color: #2973cf; font: 12px/12px Georgia, san-serif; padding-top: 6px; }

.box .content .share { float: right; width: 80px; }

.box .content .source { color: #a5a8a8; font: 11px/11px Arial, san-serif; font-size: 11px; padding-top: 6px; }

.box .content img {max-width:100%;}

.fb-share {
  background-color: #EFEFEF;
  padding: 4px;
  margin-top: 6px;
  border: 1px solid #ddd;
  min-height: 100px;
  overflow:hidden;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

  .fb-share a.fb-link,
  .fb-share a.fb-link:hover,
  .fb-share a.fb-link:visited, { color: #555 !important; }

  .fb-share p { font: 11px/16px Georgia, san-serif; padding: 0 4px; }

  .fb-share img { margin-right: 8px; }

#status, #more { margin: 0 45%; }

#status { display: none; margin-bottom: 15px; padding-left: 44px; }

#more {
  text-transform: uppercase;
  margin-bottom: 70px;
  background-color: #aaa393;
  padding: 10px;
  width: 100px;
}
  #more a {
    font-family: Arial, Helvetica, san-serif;
    color: #fff;
    padding-left: 10%;
    text-decoration: none;
  }


@media only screen and (max-width: 767px) {

links, #tagline { display: none; }

  #mobile-menu { display: block; }

  #nav-filters {  display: none; margin: 0; padding: 0; padding-top: 65px; z-index: 3000; }
    #nav-filters li { clear: both; display: block; margin: 5px 0; width: 100%; }
    #nav-filters li#active-trail { display: none; }
      #nav-filters li a { margin: 0; font: normal 20px/22px Helvetica, Arial, san-serif; padding: 10px 6px; padding-left: 16px; }

  #scrollcontent { margin: 0; margin-top: 10px; }
  .box { z-index: 900; height:auto;}
  .box img.content-image,
  .box.featured img.content-image { display: block; max-width: 100%; height:auto; }


  #returnTop { right: 0; padding: 12px; }

  #more { margin-bottom: 30%;}

}


@media only screen and (max-width: 767px) and (orientation:portrait) {

  #scrollcontent { margin-left: 4px; }

  .box,
  .box.featured { width: 91%; }

  #status, #more { margin: 0 30%; }

}


@media only screen and (max-width: 767px) and (orientation:landscape) {


  #scrollcontent { margin-left: 22px; }

  .box,
  .box.featured { width: 90%; }

  #status, #more { margin: 0 40%; }

}








.scrollLikeBlank { background-image: url('../icons/scroll-heart-g.png'); width:20px; height:20px; float: right;display: inline; margin-top:5px;}
.scrollLikeFull {  background-image: url('../icons/scroll-heart-b.png'); width:20px; height:20px; float: right;display: inline; margin-top:5px;}
.scrollLikes { color: #002F86; font-size: 10px; float: right;display: inline; margin-top:2px; margin-left: 5px; font-family:Arial, san-serif;}
.scrollLikeBlank:hover{cursor: pointer;}
.scrollLikeFull:hover{cursor: pointer;}