/*
  Docs at http://http://simpleweatherjs.com
*/

body {
  padding: 45px 0;
  font: 14px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}